<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="com.n26.challenge" level="DEBUG"/>

	<!-- Setting the root level of logging to INFO -->
	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
